{% set bodyClass = 'music' %}
{% set title = "Music" %}

{% extends "default/_layouts/site" %}

{% block navigation %}
{% include "_includes/global/navigation" %}
{% endblock %}

{% block main %}

{# Carousel #}
<div class="grid-x">
  <div class="small-12 medium-12 cell">
  <div class="swiper-container">

{#
  <div class="swiper-button-prev-test flex-container align-center-middle"></div>
  <div class="swiper-button-next-test flex-container align-center-middle"></div>
#}

  <div class="swiper-wrapper">
  {% set carouselQuery = entry.carouselMusic.orderBy('RAND()').all() %}
  {% for project in carouselQuery %}
    <div class="swiper-slide small-12 cell">
      {% set image = project.image.one() %}


            <div class="image--hero" data-interchange="{% include "_includes/images/full/full/interchange-img-small-12-medium-12" %}">

            <div class="content" style="height: 100%; width: 100%">
              <div class="grid-x align-bottom" style="height: 100%; width: 100%">
                <div class="small-12 medium-6 cell">
                  <div class="padding-2">
                    <h2 class="white">{{project.title}}</h2>
                    <div class="white">{{project.description |striptags|raw }}</div>
                  </div>
                </div>
                <div class="small-12 medium-6 cell show-for-medium">
                  <div class="padding-2 text-right">
{#                     <a href="{{ project.url }}" class="white">View Project</a> #}
                  </div>
                </div>

              </div>
            </div>

            </div>


              
    </div>
  {% endfor %}
  </div>

</div>
</div>
</div>
{# End Carousel #}

<div class="wrapper">
  <div class="grid-container">
  
    {# Description #}
    <div class="grid-x grid-padding-x grid-padding-y">
      <div class="small-12 medium-10 cell text-left">
        <h2>{{entry.description |striptags|raw }}</h2>
      </div>
    </div>
    {# End Description #}
  
    {# Details #}
    {% for detail in entry.details.all() %}
    <div class="grid-x grid-padding-x grid-padding-y align-left">
      <div class="small-12 medium-4 cell hide-for-small-only">
        <div class="h3 margin-bottom-0">{{detail.header}}</div>
      </div>
      <div class="small-12 medium-8 cell">
        <div class="h3 show-for-small-only">{{detail.header}}</div>
        {{detail.copy}}
      </div>
    </div>
    {% endfor %}
    {# End Details #}
  
  
    {# Projects #}
    {% set projectsQuery = entry.projectsMusic.all() %}
  
    {% set projectCount = projectsQuery|length %}
      <div class="grid-x grid-padding-x grid-padding-y align-left">
        {% for project in projectsQuery %}
          <div class="small-12 medium-6 cell">
  
  
  {% set image = project.image.one() %}
  <div class="light-gray-background-color excerpt">
    <div class="image--16-9" {% if image %}data-interchange="{% include "_includes/images/contained/16-9/interchange-img-small-12-medium-4" %}" data-aos="fade-in" data-aos-delay="100"{% endif %}>
  
  
      <div class="grid-y content show-for-medium">
        <div class="shrink cell padding-1 white h4">
        {{project.description|striptags|raw }}
        </div>
      </div>
  
    </div>
  </div>
  <div class="margin-top-1 sans-display h5">{{ project.title }}</div>
  
  <div class="show-for-small-only">
      {{project.description|striptags|raw }}
  </div>
  
  
  
          </div>
        {% endfor %}
      </div>
    {# End Projects #}
  
  
  {# Clients #}
  
    <div class="grid-x grid-padding-x small-up-3 medium-up-3 large-up-5 align-center align-middle">
  
      {% for client in entry.clientsMusic.all() %}
  
  
      <div class="cell text-center padding-vertical-2">
  
        <img src="{{craft.imager.transformImage(client, { imgixProfile: 'svg' }).url}}" alt="{{client.filename}}" class="logos">
  
      </div>
      {% endfor %}
  
  
  
  
    </div>
  </div>
  {# End Clients #}
    
  
  </div>
</div>

{% endblock %}

{% block footer %}
{% include "_includes/global/footer" %}
{% endblock %}

