{% set bodyClass = 'music' %}

{% extends "default/_layouts/site" %}

{% block navigation %}
{% include "_includes/global/navigation" %}
{% endblock %}

{% block main %}

{# Carousel #}
<div class="grid-x">
  <div class="small-12 medium-12 cell">
  <div class="swiper-container">

{#
  <div class="swiper-button-prev-test flex-container align-center-middle"></div>
  <div class="swiper-button-next-test flex-container align-center-middle"></div>
#}

  <div class="swiper-wrapper">
  {% set carouselQuery = entry.carousel.order('RAND()').all() %}
  {% for project in carouselQuery %}
    <div class="swiper-slide small-12 cell">
      {% set image = project.image.one() %}


            <div class="image--hero" data-interchange="{% include "_includes/images/full/full/interchange-img-small-12-medium-12" %}">

            <div class="content" style="height: 100%; width: 100%">
              <div class="grid-x align-bottom" style="height: 100%; width: 100%">
                <div class="small-12 medium-6 cell">
                  <div class="padding-2">
                    <h2 class="white">{{project.title}}</h2>
                    <div class="white">{{project.description |striptags|raw }}</div>
                  </div>
                </div>
                <div class="small-12 medium-6 cell show-for-medium">
                  <div class="padding-2 text-right">
                    <a href="{{ project.url }}" class="white">View Project</a>
                  </div>
                </div>

              </div>
            </div>

            </div>


              
    </div>
  {% endfor %}
  </div>

</div>
</div>
</div>
{# End Carousel #}

<div class="grid-container padding-top-2">

  {# Description #}
  <div class="grid-x grid-padding-x grid-padding-y">
    <div class="small-12 medium-10 cell text-left">
      <h2>{{seo.seoDescription}}</h2>
      <a href="/profile" class="secondary-color">Learn More</a>
    </div>
  </div>
  {# End Description #}

  {# Projects #}
  {% set projectsQuery = entry.projects.all() %}

  {% set projectCount = projectsQuery|length %}
    <div class="grid-x grid-padding-x grid-padding-y align-left">
      {% for project in projectsQuery %}
        <div class="small-12 medium-6 cell">
          {% include "_includes/blocks/excerpt" %}
        </div>
      {% endfor %}
    </div>
  {# End Projects #}
  
  {# Services #}
{#
  <div class="grid-x grid-padding-x grid-padding-y">
    <div class="small-12 medium-8 cell text-left">
      <h2>Services</h2>
      {{entry.servicesCopy}}
      <a href="/services" class="secondary-color">Learn More</a>
    </div>
  </div>
#}
  {# End Services #}

</div>

{% endblock %}

{% block footer %}
{% include "_includes/global/footer" %}
{% endblock %}

